<div class="container scrol ming">
<h3 class=" text-center "><%=@room.name%> </h3>
<div class="messaging">
    <div class="inbox_msg">
        <div class="msg_history">
      <% @messages.each do |message|%>
          <% if current_user.id == message.user_id %>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p><%=message.content%></p>
                  <div class="time_date"> <%=message.created_at%>    |   <%=message.user_id%> </div>
                </div>
              </div>
          <% else %>
            <div class="outgoing_msg">
              <div class="sent_msg">
                <p><%=message.content%></p>
                <div class="time_date"> <%=message.created_at%>    |    <%=message.user_id%>  </div>
              </div>
            </div>
          <%end%>
      <%end%>
        </div>
    </div>

</div>
