<header>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">DEBATE_APP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"><i class="fas fa-home"></i> <span class="sr-only">(current)</span></a>
      </li>
              <li class="nav-item nav-link">
          <%= link_to "検索",search_rooms_path %>
        </li>
      <% if user_signed_in? %>
       <li class="nav-item nav-link">
          <i class="fas fa-sign-in-alt"></i><%= link_to "ログアウト",destroy_user_session_path, method: :delete %>
        </li>
        <li class="nav-item nav-link">
          <%= link_to current_user.nickname, "#" %>
        </li>
      <%else%>
        <li class="nav-item nav-link ">
          <i class="fas fa-sign-in-alt"></i><%= link_to "ログイン",new_user_session_path %>
        </li>
        <li class="nav-item nav-link">
          <i class="fas fa-sign-in-alt"></i><%= link_to "サインイン",new_user_registration_path %>
        </li>
      <%end%>
    </ul>


  </div>
  </nav>
</header>
<h2 class=text-center>Sign up</h2>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">

<style>
.form-width {
  width: 500px;
  margin-left: 450px;
}
</style>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

<div class="preview text-center form-width">
    <i class="fas fa-5x fa-user-plus mt-5"></i>
      <%= render 'devise/shared/error_messages', model: f.object %>
  <div class="container">
      <div class="form-group">
        <label>Nickname:</label><br>
        <i class="fas fa-signature"></i>
        <%= f.text_field :nickname, autofocus: true, maxlength: "6", class: "form-control" %>
      </div>
      <div class="form-group">
        <label>Email:</label> <i class="fas fa-envelope-square"></i>

        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-group">
        <label>Password:</label><br>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
            <i class="fas fa-key"></i>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <i class="fas fa-unlock-alt"></i>
        <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control" %>
      </div>
    <div class="form-group ">
    <div class="btn">
      <%= f.submit "Sign up", class: "btn btn-primary"%>
    </div>
  </div>
  <%= render "devise/shared/links" %>
</div>
</div>
<% end %>


