<header>


  <div id= "app">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">DEBATE_APP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/"><i class="fas fa-home"></i> <span class="sr-only">(current)</span></a>
        </li>
          <li class="nav-item nav-link">
            <%= link_to "検索",search_rooms_path %>
          </li>
        <% if user_signed_in? %>
        <li class="nav-item nav-link">
            <i class="fas fa-sign-in-alt"></i><%= link_to "ログアウト",destroy_user_session_path, method: :delete %>
          </li>

          <li class="nav-item nav-link">
            <%= link_to current_user.nickname, "#" %>
          </li>


        <%else%>
          <li class="nav-item nav-link ">
            <i class="fas fa-sign-in-alt"></i><%= link_to "ログイン",new_user_session_path %>
          </li>
          <li class="nav-item nav-link">
            <i class="fas fa-sign-in-alt"></i><%= link_to "サインイン",new_user_registration_path %>
          </li>
        <%end%>
      </ul>
    </div>
    </nav>
  </div>
</header>