<%= render "devise/shared/header" %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">

<style>
.color-room {
  color: white;
}
.back-color{
  background-color: #f5f5f5;
}
.shadow{
  box-shadow: 4px 4px;
}
.out-width{
  width: 500px;
}
</style>
<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3"><i class="fas fa-bomb"></i> ディベートをしよう！</h1>
      <p>今すでにあるルームに入ってもらうかまたは自分でお題を作って新規でルームを作ることができます ⚠(サインインしている必要があります)</p>

      <div class="btn btn-primary btn-lg" >
      <p><%=link_to 'ルーム作成', new_room_path, class: "color-room" %><i class="fas fa-angle-double-right"></i></p>
      </div>
    </div>
  </div>

  <div class="container marketing">
<% unless user_signed_in? %>
  <div class="alert alert-danger" role="alert">
  ログインしていないと部屋に入れません！ログインしましょう
</div>
<% end %>
<div class="row">
     <% @rooms.each do |room| %>
     <div class="border border-primary mt-5 out-width ">
      <div class="text-center">
        <%= image_tag room.image.variant(resize: '190x190'), class: 'rounded-circle ' %>
      </div>
      <div class=" back-color border border-secondary mb-3 shadow rounded-left ml-5 mr-5" >
        <div class="col text-center">
          <h2 class="ml-3">TITLE・<%= room.name%></h2>
          <p><%=room.explanation%></p><p>ジャンル・<%= room.category.name%></p>
          <p><i class="fas fa-comment-dots"></i><%=link_to "部屋に入る", room_messages_path(room.id), class: "btn btn-primary"%></p>

        </div>
      </div> 
    </div>
    <%end%>
  </div>
  
  </div>  
  
  <%= paginate @rooms %>

</main>