<%= render "devise/shared/header" %>

<style>
.mtoriginal {
  margin-top: 55px;
}
</style>
<div class='container '>
  <h1 class="mtoriginal">新規チャットルーム</h1>
  <%=form_with model: @room,url: rooms_path, local: true do |f|%>
    <%= render 'devise/shared/error_messages', model: f.object %>
    <div class='form-group'>
        <%= f.label :チャットルーム名, class: ' '%><i class="fas fa-signature"></i>
        <%= f.text_field :name, class: 'form-control form-control-lg', placeholder: 'チャットルーム名を入力してください'%>
    </div>
        <div class='form-group'>
        <%= f.label :論点をかいてください, class: ' '%><i class="fas fa-skull-crossbones"></i>
        <%= f.text_area :explanation, class: 'form-control form-control-lg', placeholder: 'チャットルーム名を入力してください'%>
    </div>
    <div class="form-group">
<%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"custom-select d-block w-100", id:"item-category"}) %>
</div>
  <div class="form-group">
<%= f.label :画像%>
    <%= f.file_field :image %>
  </div>
        <%= f.submit class: 'btn btn-primary'%>

  <% end %>
</div>
