<%= render "devise/shared/header" %>
<style>
.color-room {
  color: white;
}
.back-color{
  background-color: #f5f5f5;
}
.shadow{
  box-shadow: 4px 4px;
}
.out-width{
  width: 500px;

}
.h-set {
  height:200px;
}
.h-set-auto{
  height :auto ;
}
.h-set-ex{
  height: 50px;
  overflow: scroll;
}
.category {
  width: 90px;
  color: white;
}
.date-font {
  font-size: 5px
}
.wrap{
  word-wrap: break-word;
}
.danger{
  color :red;
}
</style>
<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3"><i class="fas fa-bomb"></i> ディベートをしよう！</h1>
      <p>今すでにあるルームに入ってもらうかまたは自分でお題を作って新規でルームを作ることができます<span class="danger">⚠(サインインしている必要があります)</span></p>

      <div class="btn btn-primary btn-lg" >
      <p><%=link_to 'ルーム作成', new_room_path, class: "color-room" %><i class="fas fa-angle-double-right"></i></p>
      </div>
    </div>
  </div>

  <div class="container marketing">
<% unless user_signed_in? %>
  <div class="alert alert-danger" role="alert">
  ログインしていないと部屋に入れません！ログインしましょう
</div>
<% end %>


    <%= search_form_for @q, class: "form-inline my-2 my-lg-0",url:search_rooms_path do |f| %>
    <div class="navbar-brand">Room名検索</div>
        
        <i class="fas fa-search mr-3" style="color: royalblue;"></i>
        <div class="form-group">
          <%= f.search_field :name_cont, class:"form-control mr-sm-2" %>
        </div>

        <%= f.submit 'Search',class:"btn btn-secondary my-2 my-sm-0" %>


    <%end%>
    <%= search_form_for @q, class: "form-inline my-2 my-lg-0",url:search_rooms_path do |f| %>
    <div class="navbar-brand">カテゴリ検索</div>
          <div class="form-group ">
          <i class="fas fa-search mr-3" style="color: royalblue;"></i>
            <%= f.select :category_id_eq, options_from_collection_for_select(Category.all, :id, :name),{class:"custom-select d-block w-100", id:"item-category"} %>
          </div>
          <%= f.submit 'Search',class:"btn btn-secondary my-2 my-sm-0 ml-1" %>
      <%end%>
  <h1 class="text-center mb-3 mt-3">検索結果↓↓</h1>
    <div class="row">
      <% @results.each do |room| %>
     <div class="border border-primary mt-5 out-width ml-3 shadow pt-3">
      <p class="ml-3 date-font">作成日<%= room.created_at.to_s(:datetime_jp) %></p>
      <div class="text-center h-set">
        <%= image_tag room.image.variant(resize: '150x150'), class: 'rounded-circle ' %>
      </div>
      <div class="back-color border border-secondary mb-3 shadow rounded-left ml-5 mr-5" >
        <div class="col text-center h-set-auto">
          <h3 class="ml-3 wrap h-set-ex border-bottom border-dark"><%= room.name%></h3>
          <p class="wrap h-set-ex"><%=room.explanation%></p>
          <p class="bg-secondary category rounded-left">・<%= room.category.name%></p><div class=""><i class="fas fa-comment-dots"></i><%= room.messages.count  %></div>
          <p><i class="fas fa-door-open"></i><%=link_to "部屋に入る", room_messages_path(room.id), class: "btn btn-primary"%></p>

        </div>
      </div> 
    </div>
    <%end%>

    </div>
    </main>
