<header>
<link href="css/style.css" rel="stylesheet">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">DEBATE_APP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"><i class="fas fa-home"></i> <span class="sr-only">(current)</span></a>
      </li>
      <% if user_signed_in? %>
       <li class="nav-item nav-link">
          <i class="fas fa-sign-in-alt"></i><%= link_to "ログアウト",destroy_user_session_path, method: :delete %>
        </li>
        <li class="nav-item nav-link">
          <%= link_to current_user.nickname, "#" %>
        </li>
      <%else%>
        <li class="nav-item nav-link ">
          <i class="fas fa-sign-in-alt"></i><%= link_to "ログイン",new_user_session_path %>
        </li>
        <li class="nav-item nav-link">
          <i class="fas fa-sign-in-alt"></i><%= link_to "サインイン",new_user_registration_path %>
        </li>
      <%end%>
    </ul>
  </div>
  </nav>
</header>
<style>
.color-room {
  color: white;
}
.back-color{
  background-color: #f5f5f5;
}
.shadow{
  box-shadow: 4px 4px;
}
.out-width{
  width: 500px;

}
.h-set {
  height:200px;
}
.h-set-auto{
  height :auto ;
}

</style>
<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3"><i class="fas fa-bomb"></i> ディベートをしよう！</h1>
      <p>今すでにあるルームに入ってもらうかまたは自分でお題を作って新規でルームを作ることができます ⚠(サインインしている必要があります)</p>

      <div class="btn btn-primary btn-lg" >
      <p><%=link_to 'ルーム作成', new_room_path, class: "color-room" %><i class="fas fa-angle-double-right"></i></p>
      </div>
    </div>
  </div>

  <div class="container marketing">
<% unless user_signed_in? %>
  <div class="alert alert-danger" role="alert">
  ログインしていないと部屋に入れません！ログインしましょう
</div>
<% end %>


    <%= search_form_for @q, class: "form-inline my-2 my-lg-0",url:search_rooms_path do |f| %>
    <div class="navbar-brand">Room検索</div>
        
        <i class="fas fa-search mr-3" style="color: royalblue;"></i>
        <%= f.search_field :name_cont, class:"form-control mr-sm-2" %>
        <div class="form-group ">
         <%= f.select :category_id_eq, options_from_collection_for_select(Category.all, :id, :name),class: "form-control form-control-lg" %>
        </div>
        <%= f.submit 'Search',class:"btn btn-secondary my-2 my-sm-0" %>
    <%end%>
  <h1 class="text-center mb-3 mt-3">検索結果↓↓</h1>
    <div class="row">
      <% @results.each do |room| %>
        <div class="border border-primary mt-5 out-width ml-3 shadow pt-3">
          <div class="text-center h-set">
            <%= image_tag room.image.variant(resize: '190x190'), class: 'rounded-circle ' %>
          </div>
          <div class=" back-color border border-secondary mb-3 shadow rounded-left ml-5 mr-5" >
            <div class="col text-center h-set-auto">
              <h2 class="ml-3 "><%= room.name%></h2>
              <p><%=room.explanation%></p><p>ジャンル・<%= room.category.name%></p>
              <p><i class="fas fa-comment-dots"></i><%=link_to "部屋に入る", room_messages_path(room.id), class: "btn btn-primary"%></p>

            </div>
          </div> 
        </div>
      <%end%>
    </div>
    </main>
